# Ignore node_modules to avoid copying unnecessary dependencies
node_modules

# Ignore temporary files and logs
*.log
*.tmp

# Ignore build output (for development purposes)
.next
dist

# Ignore environment and sensitive files
.env
.env.local

# Ignore version control files
.git
.gitignore
